<div class="form-group">
    <label for="image_tag">Image Tag: </label>
    <input class="form-control" type="text" name='image_tag' placeholder="image_tag" required/>
  </div>

  <div class="form-group">
    <label for="REF_APP">REF_APP: </label>
    <input class="form-control" type="text" name='REF_APP' placeholder="REF_APP" required/>
  </div>

  <div class="form-group">
    <label for="workflow_name">workflow_name: </label>
    <input class="form-control" type="text" name='workflow_name' placeholder="workflow_name" required/>
  </div>