<div class="form-group">
    <label for="image_tag">Change Kubernetes Deployment.yaml config: </label>
    <input class="form-control" type="text" name='Change Kubernetes Deployment.yaml config' placeholder="Change Kubernetes Deployment.yaml config" required/>
  </div>

  <div class="form-group">
    <label for="REF_APP">REF_APP: </label>
    <input class="form-control" type="text" name='REF_APP' placeholder="REF_APP" required/>
  </div>

  <div class="form-group">
    <label for="CLUSTER_TO_DEPLOY">CLUSTER_TO_DEPLOY: </label>
    <input class="form-control" type="text" name='CLUSTER_TO_DEPLOY' placeholder="CLUSTER_TO_DEPLOY" required/>
  </div>


  <div class="form-group">
    <label for="LOB">LOB: </label>
    <input class="form-control" type="text" name='LOB' placeholder="LOB" required/>
  </div>

  <div class="form-group">
    <label for="VSAD">VSAD: </label>
    <input class="form-control" type="text" name='VSAD' placeholder="VSAD" required/>
  </div>

  <div class="form-group">
    <label for="DOCKER_IMAGE_TAG">DOCKER_IMAGE_TAG: </label>
    <input class="form-control" type="text" name='DOCKER_IMAGE_TAG' placeholder="DOCKER_IMAGE_TAG" required/>
  </div>



  <div class="form-group">
    <label for="APP_VERSION">APP_VERSION: </label>
    <input class="form-control" type="text" name='APP_VERSION' placeholder="APP_VERSION" required/>
  </div>



  <div class="form-group">
    <label for="BRANCH_NAME">BRANCH_NAME: </label>
    <input class="form-control" type="text" name='BRANCH_NAME' placeholder="BRANCH_NAME" required/>
  </div>



  <div class="form-group">
    <label for="HELM_VALUES_FILE">HELM_VALUES_FILE: </label>
    <input class="form-control" type="text" name='HELM_VALUES_FILE' placeholder="HELM_VALUES_FILE" required/>
  </div>



  <div class="form-group">
    <label for="K8S_NAMESPACE">K8S_NAMESPACE: </label>
    <input class="form-control" type="text" name='K8S_NAMESPACE' placeholder="K8S_NAMESPACE" required/>
  </div>